*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.nav-logo{
    height: 37px;
    width: 100px;
    padding-top: 16px;
    margin-left: 6px;
}

.logo{
    background-image: url(logo.png);
    background-size: contain;
    height: 37px;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 11px;
    margin-left: 15px;
}

.add-sec{
    margin-left: 3px;
    font-size: 14px;
}

.nav_address{
    margin-left: 15px;
}

.loc{
    display: flex;
}

option{
    text-align: left;
}

.nav_search{
    margin-left: 10px;
    display: flex;
    width: 600px;
}

.sicon{
    background-color: rgb(243, 176, 7);
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.ss{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none; 
}

span{
    font-size: 11px;
}

.nav-second{
    font-size: 14px;
    font-weight: 700;
}

.nav_search:hover{
    border: 2px solid orange;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 14px;
    font-weight: 700;
}

.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 10px;
}

.panel-ops{
    width: 70%;
    font-size: 14px;
}

.panel-deals{
    font-size: 14px;
    font-weight: 700;   
}

.hero-section{
    height:600px;
    background-image: url(image1.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 80%;
}

.hero-message a{
    color:#007185;
}

.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 15px;
}

.foot-panel2{
    height:200px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 13px;
    color: #dddddd;
}

ul{
    width: 23%;
    margin-top: 20px;
}

.foot-panel3{
    border-top:1px solid white;
    background-color: #374758;
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
